body {
    text-align:center;
    background-color:#CCFFFF;
}

.top {
    color:#99FFCC;
    font-size:24px;
    border-bottom:2px solid #3392ff;
}

.bottom {
    margin-top: 15px;
    border-top:2px solid #3392ff;
}

.form {
    width:600px;
    height:900px;
    padding:10px;
    margin:auto;
    padding:10px;
    border:1px solid silver;
    border-radius: 10px;
    background-color:white;
}

.tb {
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
}

.pulldown {
    border-radius: 5px;
}

.checkbox {
    display: block;
}

textarea ,button {
    border-radius: 10px;
}

label.required:after{
    margin-left: 1.0em;
    padding: 0px 6px 0px 6px;
    border-radius: 4px;
    font-size: 0.6em;
    color: white;
    background-color: #C44;
    content: "必須";
}

/* .fl {
    float:left;
} */

.ta{
    text-align: left;
}

/* .left {
    margin-right:auto;
} */

